* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}


/* Navigation */

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    background: #020617;
}

nav h2 {
    color: #38bdf8;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}


/* Hero */

.hero {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.hero h1 {
    font-size: 45px;
    color: #38bdf8;
    margin-bottom: 20px;
}

.hero p {
    max-width: 600px;
    font-size: 18px;
    color: #cbd5e1;
    line-height: 1.6;
}

button {
    margin-top: 30px;
    padding: 13px 30px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: #020617;
    font-size: 17px;
}


/* Sections */

section:not(.hero) {
    padding: 80px 10%;
    text-align: center;
}

section h2 {
    color: #38bdf8;
    margin-bottom: 20px;
}
/* Mobile Menu */

.menu-btn {
    display: none;
    background: none;
    color: green;
    font-size: 28px;
    margin: 0;
    padding: 5px;
}

.hero {
    animation: fadeIn 1.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Mobile screen */

@media (max-width: 600px) {

    nav {
        padding: 0 5%;
    }

    .menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #020617;
        text-align: center;
        padding: 20px;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links a {
        display: block;
        margin: 15px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }
}
#skills {
    padding: 80px 10%;
    text-align: center;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.skill-card {
    width: 220px;
    padding: 30px 20px;
    background: #1e293b;
    border-radius: 15px;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}

.skill-card p {
    color: #cbd5e1;
}
#projects {
    padding: 80px 10%;
    text-align: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.project-card {
    width: 280px;
    padding: 30px 20px;
    background: #1e293b;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card h3 {
    color: #38bdf8;
    margin-bottom: 15px;
}

.project-card p {
    color: #cbd5e1;
    line-height: 1.5;
}

.project-card button {
    margin-top: 20px;
}
#contact {
    min-height: 70vh;
}

#contactForm {
    max-width: 500px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contactForm input,
#contactForm textarea {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #1e293b;
    color: white;
    font-size: 16px;
    outline: none;
}

#contactForm textarea {
    height: 150px;
    resize: none;
}

#contactForm button {
    margin-top: 5px;
}

#formMessage {
    margin-top: 20px;
    color: #38bdf8;
}
footer {
    background: #020617;
    text-align: center;
    padding: 30px 20px;
    margin-top: 50px;
}

footer p {
    color: #94a3b8;
}

.social-links {
    margin-top: 15px;
}

.social-links a {
    color: #38bdf8;
    text-decoration: none;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}